$background-color: #91a9aa;
$heading-font: "Playfair Display", serif;
$body-font: "Open Sans", sans-serif;
$heading-color: #373f45;
$body-font-color: rgb(105, 113, 119);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px auto;
}

.container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .kit-card {
    width: 820px;
    display: flex;
    box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.1);
    //   align-items: center;
    .text-area {
      background-color: #ffff;
      padding: 44px 32px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      h1 {
        color: $heading-color;
        font-family: $heading-font;
        font-weight: 200;
        font-size: 35px;
        padding-bottom: 40px;
      }
      h2 {
        color: $heading-color;
        font-family: $heading-font;
        font-weight: 200;
        font-size: 35px;
        padding-bottom: 20px;
      }
      #info {
        font-size: 17px;
        color: $body-font-color;
        font-family: $body-font;
        font-weight: 500;
        line-height: 1.5;
        padding-bottom: 70px;
      }
      #email {
        width: 100%;
        input {
          background-color: #f5f6f6;
          font-size: 20px;
          border: 0px;
          border-radius: 2px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          margin-bottom: 15px;
        }
        button {
          width: 100%;
          border: 0px;
          border-radius: 2px;
          background-color: #44858a;
          color: #ffff;
          font-size: 18px;
          padding-top: 15px;
          padding-bottom: 15px;
          margin-bottom: 25px;
        }
        #privacy {
          font-size: 13px;
          text-align: center;
          color: $body-font-color;
        }
      }
    }
    .main-img {
      img {
        width: 410px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        vertical-align: bottom;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
    .kit-card {
      width: 100%;

      flex-direction: column-reverse;
      .text-area {
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .main-img {
        // width: 100%;
        img {
          width: 100%;

          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
          vertical-align: bottom;
        }
      }
    }
  }
}
